# ETL Subscripciones Streamers de Twitch de https://twitchtracker.com/xqc/subscribers

In [29]:
# Instalacion de librerias
#!pip install BeautifulSoup
!pip install -U selenium
!pip3 install -U webdriver-manager
!pip install pandas

Requirement already satisfied: selenium in c:\users\xoel\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\xoel\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\xoel\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\xoel\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\xoel\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in c:\users\xoel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\xoel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\xoel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\xoel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\xoel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\xoel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\xoel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\xoel\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\xoel\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\xoel\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\xoel\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: webdriver-manager in c:\users\xoel\anaconda3\lib\site-packages (3.8.3)
Requirement already satisfied: python-dotenv in c:\users\xoel\anaconda3\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: tqdm in c:\users\xoel\anaconda3\lib\site-packages (from webdriver-manager) (4.64.0)
Requirement already satisfied: requests in c:\users\xoel\anaconda3\lib\site-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\xoel\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\xoel\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\xoel\anaconda3\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\xoel\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.9)
Requirement already satisfied: colorama in c:\users\xoel\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)
Requirement already satisfied: pandas in c:\users\xoel\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\xoel\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\xoel\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\xoel\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\xoel\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [30]:
# LIBRERIAS

# Generales
import time
import requests
import urllib.request
import csv
from datetime import datetime

# Gestion de datos
import pandas as pd

# Automatizacion
#from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
import selenium
#from webdriver_manager.chrome import ChromeDriverManage

In [31]:
# Pagina ranking con su numerador de pagina

url = 'https://twitchtracker.com/channels/ranking?page=1'

In [32]:
driver = webdriver.Chrome()
driver.get('http://www.google.com')

In [33]:
opts = webdriver.ChromeOptions()
#opts.add_argument('--headless')
driver = webdriver.Chrome(options=opts)

In [34]:
# Generador del veiculo driver addcion de atributos y parametros
#opts = Options()

# Seleccionar el driver
#driver = webdriver.Chrome('./chromedriver.exe', options=opts)

# Maximizador de ventada del navegador web

#driver.maximize_window()

In [35]:
driver.set_window_position(0, 0)
driver.set_window_size(1920, 1080)

In [36]:
# Ir a pagina de Twitchtracker.com
driver.get(url)

## E-xtract

In [37]:
# Extraccion de datos del TOP1000 de Twitchtracker

data_results=[]

def extrac_top1000():
    #numerador_pagina = 1
    #url = 'https://twitchtracker.com/channels/ranking?page=' + str(numerador_pagina)
    numerador_pagina = 0
    url = 'https://twitchtracker.com/subscribers?page='
    
    #El numero de range(XX) marca el numerador final de la pagina 50 serian el Top1000
    for i in range(50):
        # Extraccion de datos2 del TOP50 de Twitchtracker
        
        numerador_pagina = int(numerador_pagina) + 1
        
        url_pagina = url + str(numerador_pagina)
        
        driver.get(url_pagina)
        
        # Nombre del Streamer
        nombres_streamer = driver.find_elements(By.XPATH, '//*[@id="channels"]/tbody/tr/td[4]')
        # Current Active Subs
        current_active_subs = driver.find_elements(By.XPATH, '//*[@id="channels"]/tbody/tr/td[5]')
        # Sub type Paid
        subs_type_paid = driver.find_elements(By.XPATH, '//*[@id="channels"]/tbody/tr/td[6]')
        # Sub type Prime
        subs_type_prime = driver.find_elements(By.XPATH, '//*[@id="channels"]/tbody/tr/td[7]')
        # Sub type Gifted
        subs_type_gifted = driver.find_elements(By.XPATH, '//*[@id="channels"]/tbody/tr/td[8]')
        # Sub type Tier1
        subs_type_tier_one = driver.find_elements(By.XPATH, '//*[@id="channels"]/tbody/tr/td[9]')
        # Sub type Tier2
        subs_type_tier_two = driver.find_elements(By.XPATH, '//*[@id="channels"]/tbody/tr/td[10]')
        # Sub type Tier3
        subs_type_tier_three = driver.find_elements(By.XPATH, '//*[@id="channels"]/tbody/tr/td[11]')


        for item in range(len(nombres_streamer)):
            temporal_data={
                            #'Numero': numero[item].text,
                            #'URL imagen Streamer': imagen[item].get_attribute('innerHTML'),
                            'Nombres Streamers': nombres_streamer[item].text,
                            'Current Active Subs': current_active_subs[item].text,
                            'Subs Type Paid': subs_type_paid[item].text,
                            'Subs Type Prime': subs_type_prime[item].text,
                            'Subs Type Gifted': subs_type_gifted[item].text,
                            'Subs Type Tier 1($4.99)': subs_type_tier_one[item].text,
                            'Subs Type Tier 2($9.99)': subs_type_tier_two[item].text,
                            'Subs Type Tier 3($24.99)': subs_type_tier_three[item].text,
                            #'Raw data': raw_data[item].text,
                            }
            data_results.append(temporal_data)
    
extrac_top1000()

In [38]:
# Mostramos datos del TOP50 de Twitchtracker
df_data = pd.DataFrame(data_results)
# Pasar datos por pantalla
df_data

,Nombres Streamers,Current Active Subs,Subs Type Paid,Subs Type Prime,Subs Type Gifted,Subs Type Tier 1($4.99),Subs Type Tier 2($9.99),Subs Type Tier 3($24.99)
0,XQC,"76,821","20,464","31,597","2,867","20,208",87,169
1,KAICENAT,"69,028","47,391","11,653","25,634","47,360",27,4
2,CASIMITO,"66,914","15,872","40,483","1,064","15,855",8,9
3,HASANABI,"54,913","14,110","13,604","5,080","13,994",68,48
4,NICKMERCS,"46,609","20,613","11,312","5,203","20,150",309,154
...,...,...,...,...,...,...,...,...
995,NOTSCH,"1,413",?,?,"1,053",?,3,4
996,VINESAUCE,"1,411",655,548,84,643,12,0
997,IINWAFQHT,"1,410","1,304",20,720,"1,297",6,1
998,MRDZINOLD,"1,405",670,570,340,666,1,3
999,NANNITWITCH,"1,404",921,411,604,911,6,4

## T-ransform

In [39]:
#Eliminar ,
df_data = df_data.replace(to_replace=',', value='', regex=True)

In [40]:
# Eliminar .
df_data = df_data.replace(to_replace='\.', value='', regex=True)

In [41]:
# Data clean
df_data

,Nombres Streamers,Current Active Subs,Subs Type Paid,Subs Type Prime,Subs Type Gifted,Subs Type Tier 1($4.99),Subs Type Tier 2($9.99),Subs Type Tier 3($24.99)
0,XQC,76821,20464,31597,2867,20208,87,169
1,KAICENAT,69028,47391,11653,25634,47360,27,4
2,CASIMITO,66914,15872,40483,1064,15855,8,9
3,HASANABI,54913,14110,13604,5080,13994,68,48
4,NICKMERCS,46609,20613,11312,5203,20150,309,154
...,...,...,...,...,...,...,...,...
995,NOTSCH,1413,?,?,1053,?,3,4
996,VINESAUCE,1411,655,548,84,643,12,0
997,IINWAFQHT,1410,1304,20,720,1297,6,1
998,MRDZINOLD,1405,670,570,340,666,1,3
999,NANNITWITCH,1404,921,411,604,911,6,4

## L-oad

In [42]:
#Exportacion a CSV
now = datetime.now()
datos_subscripciones_top1000_streamers = 'datos_subscripciones_top1000_streamers' + str(now.year) + str(now.month) + str(now.day) + str(now.hour) + str(now.minute) + str(now.second)
df_data.to_csv(f'./{datos_subscripciones_top1000_streamers}.csv', index=False ,encoding='utf-8')